APP_ENV=local
APP_DEBUG=false
APP_KEY=cHpubB3aV09ykIBv36Vb2sPuM4UzUC0C

DB_CONNECTION=local
DB_HOST=localhost
DB_DATABASE=formulacion
DB_USERNAME=postgres
DB_PASSWORD=postgres
DB_PORT=5432

CACHE_DRIVER=file
SESSION_DRIVER=database
QUEUE_DRIVER=sync

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=465
MAIL_ADDRESS=matriz.spe@gmail.com
MAIL_NAME=Secretaría de Planificación y Estadística
MAIL_USERNAME=matriz.spe@gmail.com
MAIL_PASSWORD=18821386
MAIL_ENCRYPTION=tls

FTP_HOST=127.0.0.1
FTP_PORT=21
FTP_USERNAME=laravel
